{% extends 'base.html' %}
{% block title %}
  Login page
{% endblock %}

{% block content %}
  <div class="login container">
    <form method="POST" class="form">
      <div class="form__field">
        <label for="username" class="form__label">Username</label>
        <input type="text" name="username" id="username" required class="form__input">
      </div>

      <div class="form__field">
        <label for="password" class="form__label">Password</label>
        <input type="password" name="password" id="password" required class="form__input">
      </div>

      <button type="submit" class="button button--form">Login</button>
    </form>
  </div>
{% endblock %}