# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Python cache
__pycache__/

# Flask-related files
instance/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Translations
*.mo

# Temporary files
*.swp
*~

# Database
db.sqlite
db.sqlite3

# Upload folder
uploads/
