{% extends 'base.html' %}
{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="container" style="margin-top: 2rem;">
    <section class="post">
      {% if post.photo_url %}
        <img src="{{ post.photo_url }}" alt="Photo attached to the post {{ post.title }}" class="post__image">
        <div class="post__author-details" style="margin-top: 1.5rem;">
      {% else %}
        <div class="post__author-details">
      {% endif %}
        {% if author.photo_url %}
          <img src="{{ author.photo_url }}" alt="Profile picture of {{ author.username }}" class="post__profile-pic">
        {% endif %}
        <div>
          <h2 class="post__title">{{ post.title }}</h2>
          <p class="post__details">
            Posted by @{{ users_dict[post.author_id] }} on {{ post.created_at.strftime('%b %#d, %Y') }}.
            {% if post.updated_at %}
            <span class="post__last-updated">(Updated: {{ post.updated_at.strftime('%b %#d, %Y')}})</span>
            {% endif %}
          </p>
        </div>
      </div>
      <p class="post__body">
        {{ post.body }}
      </p>
    </section>

    <section class="comments-section">
      <h2 class="comments-section__title">Comment section</h2>
      <form class="form" id="create-comment">
        <input name="post-id" type="hidden" value="{{ post._id }}" />
        <div class="form__field">
          <label for="comment" class="visually-hidden">Add new comment</label>
          <textarea name="comment" id="comment" placeholder="Write a comment" cols="30" rows="2" class="form__text-area"></textarea>
        </div>
        <button type="submit" class="button button--form">Submit</button>
      </form>

      {% if comments %}
        <div class="comments">
          {% for comment in comments %}
            <div class="comment">
              <h3 class="comment__title">@{{ users_dict[comment.author_id] }} said:</h3>
              <p class="comment__content">
                {{ comment.content }}
              </p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>
  </div>
{% endblock %}