{% extends 'base.html' %}
{% block header %}
  <h2>{% block title %}Update post{% endblock %}</h2>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="form__title">Update post</h1>
    <form method="POST" id="update-post" class="form">
      <div class="form__field--file">
        <label class="form__label--file" title="Upload a picture" for="image">
          <span class="visually-hidden">
            Upload a picture for your post
          </span>
          <span aria-hidden="true">
            <svg stroke="#1D1D1D" fill="transparent" viewBox="0 0 32 32" width="20"><use xlink:href="#upload"></use></svg>
          </span>
        </label>
        <input class="visually-hidden" type="file" name="image" class="form__input" id="image" accept="image/png, image/jpg, image/jpeg">
      </div>

      <div class="form__field">
        <label for="title" class="form__label">Title</label>
        <input type="text" name="title" id="title" required value="{{ post.title }}" class="form__input">
      </div>

      <div class="form__field">
        <label for="body" class="form__label">Body</label>
        <textarea name="body" id="body" cols="30" rows="10" class="form__text-area" draggable="false">{{ post.body }}</textarea>
      </div>

      <button type="submit" class="button button--form">Update</button>
    </form>
  </div>
{% endblock %}