:root {
  --white-clr: 254 254 255;
  --light-clr: 253 253 255;
  --light-gray-clr: 233 233 241;
  --gray-clr: 104 104 119;
  --dark-clr: 29 29 31;

  --primary-clr: 117 114 255;
  --secondary-clr: 244 255 112;

  --ff-nunito: 'Nunito Sans', sans-serif;
  --ff-opens-sans: 'Open Sans', sans-serif;
}

/* CSS Reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(var(--light-clr));
  font-family: var(--ff-opens-sans);
  color: rgba(var(--dark-clr));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* Utility classes */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 48rem) {
  .visually-hidden-md {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.container {
  padding: 0 max(1rem, 2vw);
}

@media only screen and (min-width: 20rem) {
  .container {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

/* @media only screen and (min-width: 34rem) {
  .container {
    width: 94.8%;
  }
}

@media only screen and (min-width: 48rem) {
  .container {
    width: 93.6%;
  }
}

@media only screen and (min-width: 62rem) {
  .container {
    width: 92.4%;
  }
}

@media only screen and (min-width: 76rem) {
  .container {
    width: 91.2%;
  }
}

@media only screen and (min-width: 90rem) {
  .container {
    width: 90%;
  }
} */

.button {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  font-family: var(--ff-nunito);
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(var(--dark-clr));
  text-decoration: none;
  border: 1px solid rgba(var(--dark-clr) / 0.25);
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 2px 2px 32px rgba(var(--dark-clr) / 0.1);
}

/* Header styles */
.header {
  padding: 0.5rem 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  font-family: var(--ff-nunito);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: rgba(var(--dark-clr));
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.navbar {}

.navbar__list {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__list-item {}

.navbar__link {
  font-size: 1.125rem;
  font-weight: 500;
  color: rgba(var(--gray-clr));
  text-decoration: none;
}

.header__buttons {
  display: flex;
  column-gap: 0.5rem;
}

.button--signup {
  background-color: rgba(var(--primary-clr));
  color: rgba(var(--light-clr));
  border: none;
}

.hamburger-button {
  display: none;
}

@media screen and (min-width: 48rem) {
  .header__content {
    flex-direction: row;
  }

  .header__logo {
    margin-right: auto;
  }

  .nav-wrapper {
    flex-direction: row;
    align-items: center;
  }
}

/* Hero section */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}

.hero__box {
  margin-bottom: 1rem;
}

.hero__figure {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 0;
  margin: 0;
  z-index: -1;
  overflow: hidden;
  min-height: 16rem;
  margin-bottom: 1rem;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  filter: saturate(115%) contrast(115%);
}

.hero__title,
.hero__subtitle {
  font-family: var(--ff-nunito);
}

.hero__header,
.hero__get-started {
  color: rgba(var(--white-clr));
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  text-align: center;
  margin-bottom: 1rem;
}

.hero__header {
  align-self: flex-end;
}

.hero__get-started {
  grid-row: 2 / 3;
  padding: 1rem;
}

.hero__get-started__images {
  display: none;
}

.button--hero {
  color: rgba(var(--white-clr));
  border-color: rgba(var(--white-clr));
}

.hero__text {
  color: rgba(var(--gray-clr));
}

.hero__button-wrapper {
  position: relative;
  display: inline-block
}

.hero__button-wrapper svg {
  position: absolute;
  fill: rgba(var(--white-clr));
}

.hero__button-wrapper svg path {
  fill: rgba(var(--white-clr));
}

.hero__button-wrapper__highlight {
  width: 3.5rem;
  bottom: -1.5rem;
  left: -2rem;
}

.hero__button-wrapper__star {
  width: 0.9375rem;
  top: -1rem;
  right: -1rem;
}