:root {
  --white-clr: 254 254 255;
  --light-clr: 253 253 255;
  --light-gray-clr: 233 233 241;
  --gray-clr: 104 104 119;
  --dark-clr: 29 29 31;

  --primary-1-clr: 117 114 255;
  --primary-2-clr: 244 246 248;
  --secondary-clr: 244 255 112;

  --ff-nunito: 'Nunito Sans', sans-serif;
  --ff-opens-sans: 'Open Sans', sans-serif;
}

/* CSS Reset */

html {
  box-sizing: border-box;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(var(--light-clr));
  font-family: var(--ff-opens-sans);
  color: rgba(var(--dark-clr));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* Utility classes */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  padding: 0 max(1rem, 2vw);
}

@media only screen and (min-width: 20rem) {

  .container,
  .container-xs {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 40rem) {
  .container-sm {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 48rem) {
  .container-md {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 60rem) {
  .container-lg {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 80rem) {
  .container-xl {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 90rem) {
  .container-2xl {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

.container-none {
  width: unset;
  max-width: unset;
  padding: unset;
  margin: unset;
}

@media only screen and (min-width: 20rem) {
  .container-xs-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 40rem) {
  .container-sm-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 48rem) {
  .container-md-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 60rem) {
  .container-lg-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 80rem) {
  .container-xl-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 90rem) {
  .container-2xl-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

.button {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  font-family: var(--ff-nunito);
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(var(--dark-clr));
  text-decoration: none;
  border: 1px solid rgba(var(--dark-clr) / 0.25);
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 2px 2px 32px rgba(var(--dark-clr) / 0.1);
}

/* Header styles */
.header {
  position: relative;
  padding: 0.5rem 0;
  background-color: rgba(var(--light-clr));
}

.header__content {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: var(--ff-nunito);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: rgba(var(--dark-clr));
  margin-right: auto;
}

.nav-wrapper {
  position: absolute;
  left: 0;
  top: -100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  background: rgba(var(--light-clr));
  z-index: 1;
  padding: 1rem 0 2rem;
  box-shadow: 0 2px 8px rgba(var(--dark-clr) / 0.25);
  transition: top ease-in-out 300ms, opacity ease-out 150ms;
  opacity: 0;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 0.75rem;
  row-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  font-size: 1.125rem;
  font-weight: 500;
  color: rgba(var(--gray-clr));
  text-decoration: none;
}

.header__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  width: 100%;
}

.header__buttons .button {
  text-align: center;
  width: 90%;
  max-width: 30rem;
}

.button--signup {
  background-color: rgba(var(--primary-1-clr));
  color: rgba(var(--light-clr));
  border: none;
}

.hamburger-button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #E2E2E2;
  transition: background-color ease-in-out 200ms, transform ease-in-out 200ms;
  cursor: pointer;
}

.hamburger-button:hover,
.hamburger-button:focus {
  background-color: rgba(var(--primary-2-clr));
  scale: 0.9;
}

.hamburger-button span {
  content: '';
  position: absolute;
  left: 0.45rem;
  height: 3px;
  border-radius: 0.5rem;
  background-color: rgba(var(--dark-clr) / 0.6);
  transition: background-color ease-in-out 200ms, transform ease-in-out 200ms;
}

.hamburger-button span:nth-child(1) {
  top: 0.5625rem;
  width: 1.2rem;
}

.hamburger-button span:nth-child(2) {
  top: calc(50% - 1.5px);
  width: 0.8rem;
}

.hamburger-button span:nth-child(3) {
  bottom: 0.5625rem;
  width: 1.6rem;
}

.hamburger-button.active {
  transform: rotate(-90deg);
}

.hamburger-button.active span {
  width: 3px;
  left: calc(50% - 1.5px);
}

.hamburger-button.active~.nav-wrapper {
  top: 56px;
  opacity: 1;
}


@media screen and (min-width: 48rem) {
  .nav-wrapper {
    position: static;
    left: unset;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    padding: 0;
    box-shadow: none;
    width: unset;
    opacity: 1;
  }

  .navbar__list {
    flex-direction: row;
  }

  .header__buttons {
    width: unset;
    flex-direction: row;
  }

  .header__buttons .button {
    width: unset;
    max-width: unset;
  }

  .hamburger-button {
    display: none;
  }
}

/* Hero section */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  column-gap: 1rem;
}

.hero__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.hero__figure {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 0;
  margin: 0;
  z-index: -1;
  overflow: hidden;
  min-height: 16rem;
  margin-bottom: 1rem;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  filter: saturate(115%) contrast(115%);
}

.hero__title,
.hero__subtitle {
  font-family: var(--ff-nunito);
}

.hero__header,
.hero__get-started {
  color: rgba(var(--white-clr));
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  text-align: center;
  margin-bottom: 1rem;
}

.hero__header {
  align-self: flex-end;
}

.hero__title {
  font-size: clamp(1.25rem, 4vw, 3.25rem);
}

.hero__subtitle {
  font-size: clamp(1rem, 2.4vw, 2rem);
}

.hero__get-started {
  grid-row: 2 / 3;
  padding: 1rem;
}

.hero__get-started__images {
  display: none;
}

.button--hero {
  color: rgba(var(--white-clr));
  border-color: rgba(var(--white-clr));
}

.hero__text {
  color: rgba(var(--gray-clr));
}

.hero__button-wrapper {
  position: relative;
  display: inline-block
}

.hero__button-wrapper svg {
  position: absolute;
  fill: rgba(var(--white-clr));
}

.hero__button-wrapper path {
  fill: rgba(var(--white-clr));
}

.hero__button-wrapper__highlight {
  width: 3.5rem;
  bottom: -1.5rem;
  left: -2rem;
}

.hero__button-wrapper__star {
  width: 0.9375rem;
  top: -1rem;
  right: -1rem;
}

@media only screen and (min-width: 48rem) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__figure,
  .hero__header,
  .hero__get-started {
    grid-column: 1 / 3;
  }

  .hero__box {
    flex-direction: row;
    grid-column: 1 / 3;
    gap: 2rem;
  }

  .hero__box>* {
    flex: 1;
    /* border-radius: 0.5rem;
    border: 1px solid rgba(var(--dark-clr) / 0.25);
    padding: 0.5rem;
    background-color: rgba(var(--primary-2-clr)); */
  }

  .hero__box .hero__subtitle {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 60rem) {
  .hero {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .hero__header,
  .hero__get-started {
    color: rgba(var(--dark-clr));
  }

  .hero__header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: left;
    margin-bottom: 0.125rem;
  }

  .hero__figure {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .hero__img {
    border-radius: 1.5rem;
  }

  .hero__get-started .hero__subtitle {
    clip: unset;
    clip-path: unset;
    height: unset;
    overflow: unset;
    position: unset;
    white-space: unset;
    width: unset;
  }

  .hero__get-started {
    position: relative;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding: 3rem 0;
    border: 1px solid rgba(var(--dark-clr) / 0.15);
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .hero__box {
    flex-direction: column;
    grid-column: 3 / 4;
  }

  .hero__box>* {
    flex: unset;
  }

  .hero__get-started__images {
    position: absolute;
    left: 1rem;
    bottom: 0;
    display: block;
    max-height: 12rem;
  }

  .hero__get-started__images:nth-of-type(2) {
    left: unset;
    right: 1rem;
  }

  .hero__get-started path {
    fill: rgba(var(--dark-clr));
  }

  .hero__get-started .hero__subtitle {
    margin-bottom: 1rem;
  }

  .button--hero {
    color: rgba(var(--white-clr));
    background-color: rgba(var(--primary-1-clr));
    border: none;
  }

  .hero__get-started::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgba(var(--secondary-clr));
    z-index: -1;
    pointer-events: none;
    filter: blur(15rem);
  }
}

@media only screen and (min-width: 80rem) {
  .hero {
    grid-template-columns: 3fr 3fr 2fr;
  }
}

@media only screen and (min-width: 90rem) {
  .hero {
    grid-template-columns: 2fr 2fr 1fr;
  }
}

/* Form styles */
.form__title {
  margin: 2rem 0 0.5rem;
}

.form__field {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.75rem;
}

.form__field--file {
  margin-bottom: 0.75rem;
}

.form__field--file:focus-within .form__label--file {
  box-shadow: 2px 2px 12px rgba(var(--primary-2-clr)), 1px 1px 8px rgba(var(--primary-1-clr) / 0.3);
}

.form__label--file {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid rgba(var(--dark-clr) / 0.25);
  outline-color: rgba(var(--primary-1-clr) / 0.4);
}

.form__input,
.form__text-area {
  padding: 0.4375rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(var(--dark-clr) / 0.25);
  outline-color: rgba(var(--primary-1-clr) / 0.4);
}

.form__input:is(:focus, :active) {
  box-shadow: 2px 2px 12px rgba(var(--primary-2-clr)), 1px 1px 8px rgba(var(--primary-1-clr) / 0.3);
}

.form__text-area {
  resize: none;
}

.form__text-area:is(:focus, :active) {
  box-shadow: 2px 2px 12px rgba(var(--primary-2-clr)), 1px 1px 8px rgba(var(--primary-1-clr) / 0.3);
}

.button--form {
  cursor: pointer;
  background-color: rgba(var(--primary-1-clr));
  color: rgba(var(--white-clr));
  border: none;
}

/* Flash messages */
.flash {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(224, 57, 57);
}

/* Post card */
.post-card {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #E2E2E2;
  cursor: pointer;
  transition: border-color ease-in-out 200ms;
}

.post-card:hover {
  border-color: rgba(var(--dark-clr) / 0.4);
}

.post-card__buttons {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.post-card :is(.like-button, .delete-button, .comment-button) {
  padding-inline: 0.125rem;
  display: flex;
  height: 30px;
  cursor: pointer;
  color: purple;
  border-radius: 0.25rem;
  border: 1px solid rgb(228, 228, 229);
  background-color: rgb(244, 246, 248);
}

.post-card :is(.like-button, .delete-button, .comment-button) > .span {
  pointer-events: none;
  height: 100%;
  min-width: 30px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card .delete-button {
  margin-left: 0.5rem;
}

.post-card .edit-link {
  margin-top: 0.75rem;
  color: purple;
  display: inline-block;
}

.post-card .post-card__buttons .post-card__button__counter {
  min-width: unset;
  padding-inline: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Post page */
.post__title {
  font-size: clamp(1.25rem, 2.4vw, 2rem);
  margin-bottom: 0.25rem;
  line-height: 1.1;
  word-break: break-word;
}

.post__details {
  font-size: clamp(0.875rem, 1vw, 1.25rem);
}

.post__body {
  margin-bottom: 2.5rem;
  font-size: clamp(0.9375rem, 1.25vw, 1.375rem);
}

.post__last-updated {
  font-style: italic;
}

.post__image {
  margin: 0 auto 0.5rem;
  object-fit: cover;
  margin-top: -1.5rem;
  border-radius: 0.5rem;
  max-height: max(50vh, 30rem);;
}

.post__author-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
}

.post__profile-pic {
  width: 4rem;
  height: 4rem;
  flex: 0 0 auto;
  border-radius: 50%;
  box-shadow: 2px 2px 12px rgba(var(--primary-2-clr)), 1px 1px 8px rgba(var(--primary-1-clr) / 0.3);
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 20rem) {
  .post__author-details {
    flex-direction: row;
    text-align: unset;
  }
}

.comments-section {
  margin-bottom: 2rem;
}

.comments-section__title {
  font-size: clamp(1.0625rem, 1.75vw, 1.5rem);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.comments-section .form {
  margin-bottom: 1.5rem;
  ;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  padding: 0.5rem;
  border: 1px solid #E2E2E2;
  border-radius: 0.5rem;
}

.comment__title {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  margin-bottom: 0.5rem;
  color: rgba(var(--dark-clr) / 0.8);
  font-weight: 600;
}

.comment__content {
  font-size: clamp(0.9375rem, 1.25vw, 1.375rem);
}