:root {
  --white-clr: 254 254 255;
  --light-clr: 253 253 255;
  --light-gray-clr: 233 233 241;
  --gray-clr: 104 104 119;
  --dark-clr: 29 29 31;

  --primary-1-clr: 117 114 255;
  --primary-2-clr: 244 246 248;
  --secondary-clr: 244 255 112;

  --ff-nunito: 'Nunito Sans', sans-serif;
  --ff-opens-sans: 'Open Sans', sans-serif;
}

/* CSS Reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(var(--light-clr));
  font-family: var(--ff-opens-sans);
  color: rgba(var(--dark-clr));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* Utility classes */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  padding: 0 max(1rem, 2vw);
}

@media only screen and (min-width: 20rem) {

  .container,
  .container-xs {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 40rem) {
  .container-sm {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 48rem) {
  .container-md {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 60rem) {
  .container-lg {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 80rem) {
  .container-xl {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 90rem) {
  .container-2xl {
    width: 90%;
    max-width: 90rem;
    padding: 0;
    margin: 0 auto;
  }
}

.container-none {
  width: unset;
  max-width: unset;
  padding: unset;
  margin: unset;
}

@media only screen and (min-width: 20rem) {
  .container-xs-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 40rem) {
  .container-sm-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 48rem) {
  .container-md-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 60rem) {
  .container-lg-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 80rem) {
  .container-xl-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

@media only screen and (min-width: 90rem) {
  .container-2xl-none {
    width: unset;
    max-width: unset;
    padding: unset;
    margin: unset;
  }
}

.button {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  font-family: var(--ff-nunito);
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(var(--dark-clr));
  text-decoration: none;
  border: 1px solid rgba(var(--dark-clr) / 0.25);
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 2px 2px 32px rgba(var(--dark-clr) / 0.1);
}

/* Header styles */
.header {
  padding: 0.5rem 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  font-family: var(--ff-nunito);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: rgba(var(--dark-clr));
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.navbar {}

.navbar__list {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__list-item {}

.navbar__link {
  font-size: 1.125rem;
  font-weight: 500;
  color: rgba(var(--gray-clr));
  text-decoration: none;
}

.header__buttons {
  display: flex;
  column-gap: 0.5rem;
}

.button--signup {
  background-color: rgba(var(--primary-1-clr));
  color: rgba(var(--light-clr));
  border: none;
}

.hamburger-button {
  display: none;
}

@media screen and (min-width: 48rem) {
  .header__content {
    flex-direction: row;
  }

  .header__logo {
    margin-right: auto;
  }

  .nav-wrapper {
    flex-direction: row;
    align-items: center;
  }
}

/* Hero section */
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  column-gap: 1rem;
}

.hero__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.hero__figure {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 0;
  margin: 0;
  z-index: -1;
  overflow: hidden;
  min-height: 16rem;
  margin-bottom: 1rem;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  filter: saturate(115%) contrast(115%);
}

.hero__title,
.hero__subtitle {
  font-family: var(--ff-nunito);
}

.hero__header,
.hero__get-started {
  color: rgba(var(--white-clr));
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  text-align: center;
  margin-bottom: 1rem;
}

.hero__header {
  align-self: flex-end;
}

.hero__title {
  font-size: clamp(1.25rem, 4vw, 3.25rem);
}

.hero__subtitle {
  font-size: clamp(1rem, 2.4vw, 2rem);
}

.hero__get-started {
  grid-row: 2 / 3;
  padding: 1rem;
}

.hero__get-started__images {
  display: none;
}

.button--hero {
  color: rgba(var(--white-clr));
  border-color: rgba(var(--white-clr));
}

.hero__text {
  color: rgba(var(--gray-clr));
}

.hero__button-wrapper {
  position: relative;
  display: inline-block
}

.hero__button-wrapper svg {
  position: absolute;
  fill: rgba(var(--white-clr));
}

.hero__button-wrapper path {
  fill: rgba(var(--white-clr));
}

.hero__button-wrapper__highlight {
  width: 3.5rem;
  bottom: -1.5rem;
  left: -2rem;
}

.hero__button-wrapper__star {
  width: 0.9375rem;
  top: -1rem;
  right: -1rem;
}

@media only screen and (min-width: 48rem) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__figure,
  .hero__header,
  .hero__get-started {
    grid-column: 1 / 3;
  }

  .hero__box {
    flex-direction: row;
    grid-column: 1 / 3;
    gap: 2rem;
  }

  .hero__box>* {
    flex: 1;
    /* border-radius: 0.5rem;
    border: 1px solid rgba(var(--dark-clr) / 0.25);
    padding: 0.5rem;
    background-color: rgba(var(--primary-2-clr)); */
  }

  .hero__box .hero__subtitle {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 60rem) {
  .hero {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .hero__header,
  .hero__get-started {
    color: rgba(var(--dark-clr));
  }

  .hero__header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    text-align: left;
    margin-bottom: 0.125rem;
  }

  .hero__figure {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .hero__img {
    border-radius: 1.5rem;
  }

  .hero__get-started .hero__subtitle {
    clip: unset;
    clip-path: unset;
    height: unset;
    overflow: unset;
    position: unset;
    white-space: unset;
    width: unset;
  }

  .hero__get-started {
    position: relative;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding: 3rem 0;
    border: 1px solid rgba(var(--dark-clr) / 0.15);
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .hero__box {
    flex-direction: column;
    grid-column: 3 / 4;
  }

  .hero__box>* {
    flex: unset;
  }

  .hero__get-started__images {
    position: absolute;
    left: 1rem;
    bottom: 0;
    display: block;
    max-height: 12rem;
  }

  .hero__get-started__images:nth-of-type(2) {
    left: unset;
    right: 1rem;
  }

  .hero__get-started path {
    fill: rgba(var(--dark-clr));
  }

  .hero__get-started .hero__subtitle {
    margin-bottom: 1rem;
  }

  .button--hero {
    color: rgba(var(--white-clr));
    background-color: rgba(var(--primary-1-clr));
    border: none;
  }

  .hero__get-started::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgba(var(--secondary-clr));
    z-index: -1;
    pointer-events: none;
    filter: blur(15rem);
  }
}

@media only screen and (min-width: 80rem) {
  .hero {
    grid-template-columns: 3fr 3fr 2fr;
  }
}

@media only screen and (min-width: 90rem) {
  .hero {
    grid-template-columns: 2fr 2fr 1fr;
  }
}

/* Form styles */
.form {
  margin-top: 2rem;
}

.form__field {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.75rem;
}

.form__input, .form__text-area {
  padding: 0.4375rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(var(--dark-clr) / 0.25);
  outline-color: rgba(var(--primary-1-clr) / 0.4);
}

.form__input:is(:focus, :active) {
  box-shadow: 2px 2px 12px rgba(var(--primary-2-clr)), 1px 1px 8px rgba(var(--primary-1-clr) / 0.3);
}

.form__text-area {
  resize: none;
}

.form__text-area:is(:focus, :active) {
  box-shadow: 2px 2px 12px rgba(var(--primary-2-clr)), 1px 1px 8px rgba(var(--primary-1-clr) / 0.3);
}

.button--form {
  background-color: rgba(var(--primary-1-clr));
  color: rgba(var(--white-clr));
  border: none;
}